@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

* {
    font-family: 'Mulish', sans-serif;
    font-family: 'Inter', sans-serif;
}

header {
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    justify-content: center;
    margin: auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png');
}

nav {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: -50px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

span {
    color: #FF5400;
    font-family: Mulish;
    font-weight: 800;
}

nav li a {
    text-decoration: none;
}

.menuu {
    display: none;
}

.logoo {
    width: 50px;
    height: 50px;
}

.title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.home {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}

.banner-title {
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    padding-top: 100px;
}

.banner-des {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.header-input {
    margin-left: 185px;
    margin-bottom: 106px;
    margin-top: -10px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.inp1 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.inp1::placeholder {
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}


.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin: auto;
    cursor: pointer;
}

.btn-primary:hover {
    background: #aa1f06;
}

main {
    max-width: 1170px;
    margin: 0 auto;
}

.tour {
    display: flex;
    margin-top: 100px;
}

.tour-title {
    margin-top: 0px;
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.para1 {
    margin-bottom: 24px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    width: 577px;
    margin-top: 30px;
    font-weight: 400;
    line-height: 26px;
}

.ulp {
    margin-right: 30px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.ulp>li {
    margin-bottom: 18px;
}

.para2 {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    width: 577px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 26px;
}

.footer {
    width: 1170px;
    height: 500px;
    background: rgba(19, 19, 24, 0.05);
    margin: auto;
}

.foot-title {
    margin-top: -40px;
    text-align: center;
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.footp {
    /* padding-left: 335px; */
    display: block;
    justify-content: center;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    /* width: 769px; */
    font-weight: 400;
    line-height: 26px;
}

footer img {
    width: 30px;
    height: 30px;
    padding-left: 450px;
    margin-top: 100px;
}

.icons {
    margin: auto;
    width: 15%;
}

i {
    padding-left: 24px;
}

.line {
    margin: auto;
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 50px;
}

.footpp {
    text-align: center;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

.row {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.desh3 {
    margin-top: 100px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.desp {
    margin: auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
}

.despic {
    position: relative;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), lightgray 50% / cover no-repeat;
    border-radius: 20px;
}

.text-overlay1 {
    position: absolute;
    padding-left: 220px;
    padding-top: 140px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.text-overlay2 {
    position: absolute;
    padding-left: 820px;
    padding-top: 140px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.text-overlay3 {
    position: absolute;
    padding-left: 130px;
    padding-top: 130px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.text-overlay4 {
    position: absolute;
    padding-left: 540px;
    padding-top: 130px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.text-overlay5 {
    position: absolute;
    padding-left: 980px;
    padding-top: 130px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.text-overlay6 {
    position: absolute;
    padding-left: 180px;
    padding-top: 140px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.text-overlay7 {
    position: absolute;
    padding-left: 780px;
    padding-top: 140px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.whybox h4 {
    padding-left: 32px;
}

.whybox p {
    padding-left: 32px;
    padding-top: 10px;
}

.whybox img {
    width: 64px;
    height: 64px;
    padding-left: 32px;
    padding-top: 30px;
}

.whybox1 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.whybox2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.whybox3 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: auto;
    margin-top: 24px;
}

.whyrow1 {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.news {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.newsletter {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.newsletter h4 {
    padding-left: 40px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.newsletter p {
    padding-left: 40px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -80px;
}

.newsinput {
    padding-left: 40px;
    margin-top: -80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    align-items: center;
}

.newsletter input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.newsinput button {
    margin-left: -1px;
    margin-top: -5px;
    width: 398px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}

.linee {
    margin-top: -60px;
    margin-left: 40px;
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter input::placeholder {
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

.newsletter img {
    display: block;
    width: 672px;
    height: 422px;
    border-radius: 16px;
}

.imageup {
    position: absolute;
    top: 59%;
    left: 50%;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
}

.imageup p {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
}

.imageup h5 {
    margin: auto;
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.imgg {
    position: relative;
    display: inline-block;
}

.testimonial {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.snip1390 {
    font-family: Mulish;
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    background-color: #FF5400;
    padding: 30px;
    background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 16px;
}

.snip1390 figcaption {
    width: 100%;
}

.snip1390 h2,
.snip1390 h4,
.snip1390 blockquote {
    margin: 0;
}

.snip1390 h2,
.snip1390 h4 {
    font-weight: 300;
}

.snip1390 h2 {
    color: #ffffff;
}

.snip1390 h4 {
    color: black;
}

.snip1390 blockquote {
    font-size: 1em;
    padding: 45px 20px 40px 50px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
}

.snip1390 blockquote:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 70px;
    top: 0px;
    left: 20px;
}

.snip1390 .profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border: solid 5px #eab3aa;
}











@media screen and (max-width:600px) {
    header {
        height: 500px;
        border-radius: 16px;
        background-repeat: no-repeat;
        justify-content: center;
        margin: auto;
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png');
    }

    nav {
        width: 1170px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: -50px;
    }

    nav ul {
        display: none;
    }

    .menuu {
        display: flex;
        width: 30px;
        height: 30px;
        padding-left: 850px;
    }

    .logoo {
        padding-left: 5px;
    }

    body {
        width: 1170px;
    }

    .imggg {
        width: 1170px;
    }

    .imageup {
        top: 75%;
        left: 70%;
    }

    .despic {
        width: 1170px;
        height: 600px;
    }

    .text-overlay1 {
        padding-left: 500px;
        padding-top: 280px;
        font-size: 40px;
    }

    .text-overlay2 {
        padding-left: 500px;
        padding-top: 900px;
        font-size: 40px;
    }

    .text-overlay3 {
        padding-left: 500px;
        padding-top: 280px;
        font-size: 40px;
    }

    .text-overlay4 {
        padding-left: 500px;
        padding-top: 900px;
        font-size: 40px;
    }

    .text-overlay5 {
        padding-left: 500px;
        padding-top: 1550px;
        font-size: 40px;
    }

    .text-overlay6 {
        padding-left: 500px;
        padding-top: 280px;
        font-size: 40px;
    }

    .text-overlay7 {
        padding-left: 500px;
        padding-top: 900px;
        font-size: 40px;
    }

    .whyrow1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .news {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .newsletter {
        width: 100%;
        height: 422px;
        border-radius: 16px;
        border: 1px solid #FF5400;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .inp1 {
        height: 40px;
        width: 200px;
        border-radius: 8px;
        background: #FFF;
        border: none;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
    }

    .banner-title {
        padding-top: 40px;
    }

    .banner-des {
        margin-top: -50px;
    }

    .header-input {
        margin-bottom: 20px;
        margin: auto;
        padding-right: -100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 200px;
        padding: 16px;
        gap: 16px;
    }

    .tour {
        flex-direction: column;
    }

    .tour-des {
        margin-bottom: 50px;
    }

    .whybox1,
    .whybox2,
    .whybox3 {
        width: 1170px;
    }

    .newsletter input {
        width: 1100px;
    }

    .tour-img {
        width: 1170px;
    }

    .newsletter button {
        width: 1100px;
    }

    .testimonial {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .snip1390 {
        width: 1120px;
        height: 600px;
        margin-left: 10px;
    }

    .snip1390 blockquote {
        text-align: center;
        width: 600px;
        margin: auto;
        margin-top: 50px;
    }

}